{% extends 'core/base.html' %}

{% block content %}
<div class="content is-large">
    <h1>Professional Consulting </h1>
    <p>
        As you embark into search for admission, you need expert advisors to guide your journey. But first, 
        they need to understand where you’re trying to go.
        Getting the full value out of consulting engagements requires working with a professional who deeply understands 
        your plan and goals, and then delivers services that fit your situation. Doobia Consult’s 
        flexible approach to consulting — and commitment to providing 
        experienced professionals — means you’ll receive the right solution, grounded by real-world experience.
    </p>
    
    <h2>Second level</h2>
    <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li>Ut non enim metus.</li>
    </ul>
  </div>
<section class="section">
    <h1 class="title">Service Page</h1> <hr>
    <div class="columns">
        <div class="column">
          First column
        </div>
        <div class="column">
          Second column
        </div>
        <div class="column">
          Third column
        </div>
        <div class="column">
          Fourth column
        </div>
      </div>
</section>

{% endblock %}